<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<div class="container text-center">
<h1>ABOUT PASSWORD GENERATOR</h1>
<p>This page was written by Russ Moling!</p>
<p>Just for fun, here's a table with borders (it doesn't do anything... also, the interior borders go away when you add bootstrap >:O)</p>
<p>(Also, the table doesn't <i>center</i> like the rest of the text does... UGH!)</p>
<table border="1">
    <tr>
        <td><strong>Column 1</strong></td>
        <td><strong>Column 2</strong></td>
    </tr>
    <tr>
        <td>Cell 1,1</td>
        <td>Cell 1,2</td>
    </tr>
    <tr>
        <td>Cell 2,1</td>
        <td>Cell 2,2</td>
    </tr>
</table>
<p>And to go back home...</p>
<a href="{% url 'home' %}">Take me home!</a>
</div>
